<footer container>
  <div content>
    <div menu>
      <a logo href="">
        <svg viewBox="0 0 36 52" xmlns="http://www.w3.org/2000/svg">
          <rect fill="#EC1D24" width="100%" height="100%"></rect>
          <path fill="#FEFEFE" d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z"></path>
        </svg>
      </a>
      <nav links>
        <ul>
          <li link><a routerLink="/characters">Characters</a></li>
          <li link><a routerLink="/comics">Comics</a></li>
          <li link><a routerLink="/creators">Creators</a></li>
        </ul>
      </nav>
    </div>
    <nav follow>
      <h4 title>Follow Marvel</h4>
      <app-social></app-social>
    </nav>
  </div>
  <div copy>
    <span text>©2022 MARVEL</span>
  </div>
</footer>
